.logo {
  position: relative;
  display: inline-flex;
  font-size: 0.8rem;
  margin-top: 1px;
  color: white;
}
.leftToRight {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
  margin-top: 6px;
  color: white;
}
.leftToRight::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: green;
  transition: all 0.3s ease-in-out;
}
.leftToRight:hover::after {
  width: 100%;
}

.footerHover:hover {
  color: white;
}

.modalSelf {
  top: -400px;
}
